<%- include('partials/header'); -%>

<form>
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="error email"></div>
  <div class="signup-images">
    <% var arr=[]; for(let i=1;i<=16;i++)arr.push(i); function
    shuffleArray(array) { for (let i = array.length - 1; i > 0; i--) { const j =
    Math.floor(Math.random() * (i + 1)); [array[i], array[j]] = [array[j],
    array[i]]; } } shuffleArray(arr); for(let i=0;i<=15;i++){ %>

    <li>
      <!-- prettier-ignore -->
      <input
        type="checkbox"
        id="myCheckbox<%= arr[i]%>"
        onclick="updatePass('myCheckbox<%= arr[i]%>')" name="passImg" />
      <label for="myCheckbox<%= arr[i]%>"
        ><img class="signup-image" src="/images/<%= arr[i]%>.png"
      /></label>
    </li>
    <!-- prettier-ignore -->

    <% } %>
  </div>
  <div class="password error"></div>
  <button>Signup</button>
</form>
<style>
  li {
    display: inline-block;
  }

  input[type="checkbox"][id^="myCheckbox"] {
    display: none;
  }

  label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }

  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked + label {
    border-color: green;
  }

  :checked + label:before {
    /* content: "✓"; */
    background-color: grey;
    /* transform: scale(1); */
  }

  :checked + label img {
    /* transform: scale(0.9); */
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }
</style>
<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email");
  const passError = document.querySelector(".password");
  const currentCheckbox = document.querySelector("#id");
  var passwordInput = "";
  function updatePass(checkbox) {
    console.log("clicked", passwordInput);
    passwordInput += checkbox;
    //  console.log(passwordInput);
  }

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    emailError.textContent = "";
    passError.textContent = "";
    //get values
    const email = form.email.value;
    const password = btoa(passwordInput);
    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "content-Type": "application/json" },
      });
      const data = await res.json();
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
<%- include('partials/footer'); -%>
